.order-details-page{
    max-width:1000px;
    margin:auto;
    padding:40px;
}

.order-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.status{
    background:#22c55e;
    color:white;
    padding:8px 20px;
    border-radius:25px;
}

.summary-card{
    background:white;
    padding:25px;
    border-radius:15px;
    margin:30px 0;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.timeline{
    display:flex;
    justify-content:space-between;
    margin:40px 0;
}

.step{
    flex:1;
    text-align:center;
    padding:15px;
    border-bottom:4px solid #ddd;
    color:#999;
}

.step.active{
    color:#16a34a;
    border-color:#16a34a;
    font-weight:600;
}

.food-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:white;
    margin-bottom:15px;
    padding:15px;
    border-radius:12px;
}

.food-item img{
    width:90px;
    height:90px;
    border-radius:10px;
    object-fit:cover;
}