.empty-state{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:80px 20px;
    color:white;
}

.empty-icon{
    font-size:70px;
    margin-bottom:20px;
}

.empty-state h2{
    margin-bottom:10px;
}

.empty-state p{
    color:#94a3b8;
    margin-bottom:25px;
}

.empty-state button{
    background:#ff6b35;
    color:white;
    border:none;
    padding:14px 28px;
    border-radius:12px;
    cursor:pointer;
}