.add-btn{

background:#ff6b35;

color:white;

padding:12px 24px;

border:none;

border-radius:12px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.add-btn:hover{

transform:translateY(-3px);

}

.quantity-box{

display:flex;

align-items:center;

gap:18px;

background:#334155;

padding:8px 16px;

border-radius:12px;

}

.quantity-box button{

width:34px;

height:34px;

border:none;

border-radius:8px;

background:#ff6b35;

color:white;

font-size:20px;

cursor:pointer;

}

.quantity-box span{

color:white;

font-size:18px;

font-weight:700;

width:25px;

text-align:center;

}